<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Pacifico' />
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Kaushan+Script' />
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Catamaran' />
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Fjalla+One' />
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Yanone+Kaffeesatz' />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pompiere" />
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Shadows+Into+Light+Two' />
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Rock+Salt' />
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Kalam:700' />
<link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Special+Elite' />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Marck+Script&family=Slabo+27px&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Boogaloo&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
<style>
    @font-face {
        font-family: 'ForgottenOttawaSC';
        src: url('/fonts/Forgotten_Ottawa_Pica_SC.ttf') format('embedded-opentype'), /* Internet Explorer */
            url('/fonts/Forgotten_Ottawa_Pica_SC.ttf') format('woff2'),             /* Super Modern Browsers */
            url('/fonts/Forgotten_Ottawa_Pica_SC.ttf') format('woff'),              /* Pretty Modern Browsers */
            url('/fonts/Forgotten_Ottawa_Pica_SC.ttf') format('truetype'),          /* Safari, Android, iOS */
            url('/fonts/Forgotten_Ottawa_Pica_SC.ttf') format('svg');               /* Legacy iOS */
    }
    @font-face {
        font-family: 'ForgottenOttawaRoman';
        src: url('/fonts/Forgotten_Ottawa_Pica_Roman.ttf') format('embedded-opentype'), /* Internet Explorer */
            url('/fonts/Forgotten_Ottawa_Pica_Roman.ttf') format('woff2'),             /* Super Modern Browsers */
            url('/fonts/Forgotten_Ottawa_Pica_Roman.ttf') format('woff'),              /* Pretty Modern Browsers */
            url('/fonts/Forgotten_Ottawa_Pica_Roman.ttf') format('truetype'),          /* Safari, Android, iOS */
            url('/fonts/Forgotten_Ottawa_Pica_Roman.ttf') format('svg');               /* Legacy iOS */
    }
    @font-face {
        font-family: 'SpecialElite-Bold';
        src: url('/fonts/SpecialElite-Bold.ttf') format('embedded-opentype'), /* Internet Explorer */
            url('/fonts/SpecialElite-Bold.ttf') format('woff2'),             /* Super Modern Browsers */
            url('/fonts/SpecialElite-Bold.ttf') format('woff'),              /* Pretty Modern Browsers */
            url('/fonts/SpecialElite-Bold.ttf') format('truetype'),          /* Safari, Android, iOS */
            url('/fonts/SpecialElite-Bold.ttf') format('svg');               /* Legacy iOS */
    }
</style>