<nav class="navbar fixed-top navbar-expand-lg navbar-dark grad-nav"><!--navbar-light bg-light">-->
  <div class="container-fluid">
    <a class="navbar-brand logo-img" href="/">
		<!-- Desktop logo -->
  		<img class="d-none d-md-inline" src="/files/logo-banner.png" style="height: 60px;" alt="Forgotten Ottawa">

  		<!-- Mobile text -->
  		<span class="d-inline d-md-none small-caps">Forgotten Ottawa</span>
	</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-header">
      	<span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbar-header" class="collapse navbar-collapse">
      	<!-- ms-auto pushes navigation and buttons to the right -->
      	<ul class="nav navbar-nav ms-auto nav-font">
			<li class="nav-item"> <!-- Site Home -->
				<a class="nav-link" href="/">
					HOME
				</a>
			</li>
			<li class="nav-item"> <!-- Stories -->
				<a class="nav-link" href="/stories">
					STORIES
				</a>
			</li>
			<li class="nav-item"> <!-- Map -->
				<a class="nav-link" href="/map">
					MAP
				</a>
			</li>
			<li class="nav-item"> <!-- Timeline -->
				<a class="nav-link" href="/timeline">
					TIMELINE
				</a>
			</li>
			<li class="nav-item"> <!-- Site Home -->
				<a class="nav-link" href="https://www.youtube.com/@forgottenottawa5771">
					<img src="/files/yt_icon_white_digital.png" height="40">
				</a>
			</li>
      	</ul>
		<!--<div class="d-flex">
			<button class="btn btn-outline-primary me-2">Login</button>
			<button class="btn btn-primary">Sign Up</button>
		</div>-->
    </div>
  </div>
</nav>