.map {
    min-height: 82% !important;
    height: 82vh !important;
	margin-right: 15px;
	margin-left: 15px;
	border-width: 2px !important;
	border-left: 0px !important;
	border-color: #000000 !important;
    padding: 1em;
}
a.skiplink {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
a.skiplink:focus {
    clip: auto;
    height: auto;
    width: auto;
    background-color: #fff;
    padding: 0.3em;
}
#map:focus {
    outline: #4A74A8 solid 0.15em;
}
#tooltip {
    /*width: 100%;*/
    /* height: 100%; */
    position: flex; 
    /* background: #581a1a; */
    /* background-image: url("/files/banner.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;*/
    /* padding: 4px; */
    /*border: 1px solid black; */
    display: none;
    /* border-radius: 10px; */
    color: #581A1A;
    font-family: 'ForgottenOttawaSC' !important;
    font-size: 1.4em;
    font-weight: 700;
}
.tooltip-content {
    background-image: url("/files/banner.png");
    background-position: center;
    background-size: cover; /* Optional: ensures image covers area */
    color: white;           /* Ensures text is visible */
    padding: 20px 40px;
    border-radius: 5px;
    width: 100%;
    /* height: 50px; */
}
.map-title {
    height: 20vh !important;
    margin-top: 20px !important;
}